amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.6
Flask==0.11.1
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-Session==0.3.0
Flask-SQLAlchemy==2.1
html5lib==0.999
HTMLParser==0.0.2
httplib2==0.8
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
PyMySQL==0.7.8
PySocks==1.5.7
pytz==2016.6.1
redis==2.10.5
requests==2.2.1
shortuuid==0.4.3
six==1.10.0
SQLAlchemy==1.0.15
twilio==5.4.0
Werkzeug==0.11.11
psycopg2==2.6.2 
uwsgi==2.0.13.1
