<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Reminder Application</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/user/info">Info</a>
                    </li>
                    <li role="presentation" class="active"><a href="/user/logs">Logs</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Reminder Application</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Logs for {{ name }}</h1>
            <p class="lead"></p>
            </p>
        </div>
 
        <div class="row marketing">
            <div>
                {% for message in get_flashed_messages() %}
                <p style="color: red;">{{ message }}</p>
                {% endfor %}

                <ul>
                {% for log in logs %}
                <li><p>{{ log }} </p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
 
        <footer class="footer">
            <p>Source available on <a href="https://github.com/anujkhare/reminder">github</a></p>
        </footer>
 
    </div>
</body>
 
</html>
